## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [21]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [18]:
sample_list_1 = random.sample(range(1,100),80)

print(len(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [28]:
set1 = set(sample_list_1)
print(len(set1))

# length is still 80.

80

In [ ]:
#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [23]:
sample_list_2 = []
n = 80

for value in range(n):
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)

[0,
 70,
 98,
 19,
 94,
 87,
 50,
 42,
 88,
 44,
 26,
 94,
 34,
 95,
 70,
 45,
 9,
 4,
 34,
 32,
 94,
 60,
 56,
 37,
 78,
 90,
 45,
 59,
 90,
 58,
 8,
 91,
 61,
 53,
 100,
 26,
 40,
 42,
 53,
 89,
 93,
 32,
 81,
 39,
 78,
 2,
 90,
 87,
 88,
 3,
 11,
 21,
 0,
 45,
 19,
 3,
 77,
 11,
 49,
 99,
 52,
 10,
 22,
 63,
 51,
 47,
 61,
 75,
 16,
 0,
 25,
 45,
 79,
 82,
 91,
 8,
 77,
 18,
 91,
 67]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [26]:
set2 = set(sample_list_2)
print(len(set2))

# no, the length changed.

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [29]:
set3 = set1.difference(set2)
print(set3)

{1, 5, 6, 7, 12, 13, 15, 17, 20, 23, 27, 28, 29, 30, 31, 33, 35, 36, 38, 41, 43, 46, 48, 54, 55, 57, 62, 64, 65, 66, 68, 71, 73, 74, 76, 80, 83, 84, 85, 86, 92, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [30]:
set4 = set2.difference(set1)
print(set4)

{0, 100, 10, 75, 78, 47, 16, 18, 50, 51, 21, 82, 56, 89, 60, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [32]:
set5 = set1.intersection(set2)
print(set5)

{2, 3, 4, 8, 9, 11, 19, 22, 25, 26, 32, 34, 37, 39, 40, 42, 44, 45, 49, 52, 53, 58, 59, 61, 63, 67, 70, 77, 79, 81, 87, 88, 90, 91, 94, 95, 98, 99}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [39]:
set6 = set() # notetoself: creating an empty set can only be done using set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [41]:
set6.update(set3)
set5.update(set5)
print(set6)

{1, 5, 6, 7, 12, 13, 15, 17, 20, 23, 27, 28, 29, 30, 31, 33, 35, 36, 38, 41, 43, 46, 48, 54, 55, 57, 62, 64, 65, 66, 68, 71, 73, 74, 76, 80, 83, 84, 85, 86, 92, 96}

#### Check if `set1` and `set6` are equal.

In [42]:
if set1 == set6:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are not equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [44]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [48]:
x = set3.union(set4, set5)
y = set1.union(set2)

print(x)
print(y)

if x == y:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}
The sets are equal.

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
popped_value = set1.pop()

In [54]:
#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.


list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [57]:
for item in list_to_remove:
    if item in set1:
        set1.remove(item)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 12, 13, 15, 17, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 76, 77, 80, 83, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 98}